@use "../variables" as v;

.containerPlantilla {
  border: 3px solid v.$color-secondary;
  width: 100%;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__BG {
    position: absolute;
    opacity: 0.2;
  }
  &__Logo {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

@media (max-width: 1200px) {
  .containerPlantilla {
    height: 100%;
  }
}
